html {
    font-size: 16px
}
body {
    font-family: "Helvetica Neue", Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem
}
.container {
    width: auto;
    max-width: 1020px;
    padding-left: 20px;
    padding-right: 20px
}
.markdown-body {
    overflow: visible
}
.btn-reverse {
    color: #fff;
    background: none;
    border: 1px solid #fff
}
.btn-reverse:hover,
.btn-reverse:active {
    color: #4183c4;
    background: #fff;
    border-color: #fff;
    box-shadow: none
}
.masthead {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
    background-color: #4183c4
}
.masthead a {
    color: rgba(255, 255, 255, 0.5)
}
.masthead a:hover {
    color: #fff;
    text-decoration: none
}
.masthead .masthead-logo {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff
}
.masthead .masthead-logo .mega-octicon {
    float: left;
    margin-right: .5rem
}
@media (min-width: 34em) {
    .masthead {
        text-align: left
    }
    .masthead .masthead-logo {
        float: left
    }
}
.masthead-nav {
    margin-top: 1rem;
    font-size: 1rem
}
.masthead-nav a {
    display: inline-block
}
.masthead-nav a:not(:last-child) {
    margin-right: 1.25rem
}
.masthead-nav .active {
    color: #fff;
    font-weight: 500
}
@media (max-width: 34em) {
    .masthead-nav {
        padding-top: 1rem;
        border-top: 0.075rem solid rgba(255, 255, 255, 0.25)
    }
}
@media (min-width: 34em) {
    .masthead-nav {
        float: right;
        margin-top: .5rem
    }
}
.jumbotron {
    margin-top: -2rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: #4183c4;
    font-size: 1.25rem;
    color: #fff;
    text-align: center
}
.jumbotron h1 {
    font-size: 2.5em;
    font-weight: normal
}
.jumbotron .btn {
    padding: .75em 1.15em;
    font-size: inherit;
    font-weight: normal;
    line-height: 1
}
@media (min-width: 34em) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 8rem;
        font-size: 1.5rem;
        text-align: left
    }
}
@media (max-width: 760px) {
    .about-that .column {
        float: none;
        width: 100%;
        margin-bottom: 30px
    }
}
.about-that p {
    padding-right: .5rem;
    color: #555;
    line-height: 1.5
}
.about-that h2 {
    font-weight: normal
}
@media (max-width: 34em) {
    .docs-layout>.column {
        float: none;
        width: 100%
    }
}
.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 3rem;
    line-height: 1.75;
    color: #7a7a7a;
    border-top: 1px solid #eee
}
.footer strong {
    color: #333
}
.docs-menu {
    margin-bottom: 1.5rem;
    font-size: 14px
}
@media (min-width: 34em) {
    .docs-menu {
        margin-right: 1rem
    }
}
.docs-example {
    position: relative;
    padding: 15px;
    font-size: 13px;
    line-height: 1.4;
    border: 1px solid #e5e5e5;
    border-radius: .25rem .25rem 0 0
}
.docs-example+.highlight {
    margin-top: -1px;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 .25rem .25rem
}
.docs-example>p:last-child,
.docs-example>.menu:last-child,
.docs-example>.tabnav:last-child,
.docs-example>blockquote:last-child {
    margin-bottom: 0
}
.docs-example .menu,
.docs-example .filter-list,
.docs-example .sunken-menu {
    max-width: 200px
}
.docs-example .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px
}
.docs-example .columns+.columns {
    margin-top: 10px
}
.docs-example .column {
    padding: 10px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #e7f6e0;
    border: 1px solid #c8eab9
}
.docs-example ul,
.docs-example ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0
}
.docs-example .flex-table-item>.btn {
    margin-left: 10px
}
#markdown-toc>li:first-child {
    display: none
}
.swatch {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: .25rem
}
.swatch-blue {
    background-color: #4183c4
}
.swatch-green {
    background-color: #6cc644
}
.swatch-red {
    background-color: #bd2c00
}
.swatch-orange {
    background-color: #f93
}
.swatch-purple {
    background-color: #6e5494
}
.swatch-gray-light {
    background-color: #999
}
.swatch-gray {
    background-color: #666
}
.swatch-gray-dark {
    background-color: #333
}