// @import "~normalize.css/normalize.css";
@import "~primer/css/primer.css";
// @import "~octicons/octicons/octicons.css";

@import "docs-imported.css";

@main-background-color: #F7F8F9;

.markdown-body dl dt, .form-user-actions {
  padding: 0 16px;
  font-style: normal;
}

// body {
//   background: @main-background-color;
// }